API_ID=12682871 # [api id from my.telegram.org]
API_HASH=44c69d203b7385a793710f5c9a8d7c34 # [api hash from my.telegram.org]
BOT_TOKEN=8618257763:AAF2Vu84HVDYBOCVesNzDXqqfTlVqqiumjM
ADMIN=@Subbuz7 # [can be multiple admins just add: , ex: 1234, 12345]
BOT_NAME=GetAnyMessage
DB_FLAG=yes # can be set no or null
DB_HOST=your-db-host # can be null if DB_FLAG=no
DB_PORT=3306 # can be null if DB_FLAG=no
DB_USER=mpuser # can be null if DB_FLAG=no
DB_PASS=mp_pass # can be null if DB_FLAG=no
DB_NAME=madelineproto # can be null if DB_FLAG=no
